#headingstyle
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#heading
{
    color: white;
    text-align: center;
}
#process{
    display: flex;
    justify-content: center;
    align-items: center;
}
#process img{
    height: 50px;
    width: 50px;
    margin: 20px 10px;

}
#process img:nth-child(2){
    height: 25px !important;
}
#image-selected{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#file,#output{
    padding: 10px;
    width: 100%;
}
#image-selected img{
    height: 100%;
    width:70vw;
}

